table {
        width: 300px;
    height: 300px;
    min-width: 300px;
    min-height: 300px;
}

table,tr,td {
    border: solid 1px;
    margin: 0 auto;
    user-select:none
}
td {
    height: 30px;
    line-height:30px;
    text-align: center;
    font-weight: bold;
}
#btn {
    text-align: center;
    margin-top: 20px;
    user-select: none;
    min-width: 300px;
    min-height: 300px;
}

.btn+.btn {
    margin-left: 40px;
}
